.container {
    display: flex;
    flex: 1;
    padding-top: 30px;
    align-items: center;
    flex-direction: column;
}

.pictureContainer {
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 30px;
    background-color: darkslateblue;

}
.headerContainer {
    display: flex;
    justify-content: end;
}
.catText {
    font-weight: 700;
    padding: 20px;
    color: #fff;
}
a {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
img {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;}

/* Background Video Please don't mess with this */
.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .back-video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video {
        width: auto;
        height: 100%;
    }
}
/* End of Background video */

/* This is for the front page, where it says cats. */
.frontPage {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.frontPage h1{
    font-size: 160px;
    color: black;
    font-weight: 600;
    transition: 0.5s;
    margin: 20px;
}
h4 {
    margin-bottom: 100px;
    padding: 10px;
    outline-color: black;
    outline-style: auto;
    outline-width: 2px;
}

.frontPage h1:hover{
    -webkit-text-stroke: 3px black;  
    color: transparent;
}
/* End of the front page. */

* {
    font-family: courier, georgia;
}